@import url("reset.css");
@import url("index.css");


/*product-page*/
.background{
    background-color: #ffff00;
    width: 1440px;
    height: 310px;
}

section{
    padding: 0 120px;
    background-image: url(../img/background.png);
    width: 1200px;

}

h2{
    background-color: blue;
    width: 380px;
    text-align: center;
    margin-bottom: 25px;
}



footer{
    text-align: center;
}