@import url("reset.css");
@import url("index.css");


/*table*/
table{
	width: 700px;
	margin:0 auto;
	border:5px solid black
}

tr{}

.list-title{
	background-color: #e01a33;
	color: white;
	text-align: center;
}

.list-no{
	width: 50px;
}

.list-tl{
	text-align: left;
}

td{
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
}
